<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Selection Expretion Demo</title>
	<link th:href="@{/css/demo.css}" rel="stylesheet" />
</head>

<body>
	<h1>Link Expretion Demo</h1>
	<a th:href="@{/selection-Expression}">selection-Expression</a><br />
	<a th:href="@{/message-Expression}">message-Expression</a>
	<p><a th:href="@{/link-Expression/{id} (id=${id})}">Link Expression with value</a></p>
	<p><a th:href="@{/link-Expression/{name} (name=${name})}">Link Expression with name</a></p>
</body>

</html>