<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>list of users Expretion Demo</title>
	<!----><link th:href="@{/css/demo.css}" rel="stylesheet" />
</head>

<body>
	<table border="1">
		<thead>
			<tr>
				<th>SR.No</th>
				<th>index</th>
				<th>even</th>
				<th>Odd</th>
				<th>first</th>
				<th>last</th>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th>Gender</th>
			</tr>
		</thead>		
		<tbody>
			<tr th:each="user,userState: ${user}">
				<td th:text="${userState.count}"></td>
				<td th:text="${userState.index}"></td>
				<td th:text="${userState.even}"></td>
				<td th:text="${userState.odd}"></td>
				<td th:text="${userState.first}"></td>
				<td th:text="${userState.last}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.role}"></td>
				<td th:text="${user.gender}"></td>
			</tr>
		</tbody>
	</table>
</body>

</html>